<head>

</head>
<body>



<div id="OSnav">

<div class="OSdropup" id="OSicon">
<button class="OSdropbtn">
  <img src="https://oa-bookmarkos.netlify.app/icon.png" alt="icon" id="OSiconIMG">
  </button>
<div class="OSdropup-content">
    <a href="javascript: BookmarkWin();" >Bookmarklets</a>
  <a href="javascript: AppWin();" id="winTest">Apps</a>

</div>
</div>


<div id="OpenApps"></div>



<style>
  

#OpenApps {
	width: 50%;
	height: 100%;
	background-color: rgb(56, 0, 200);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);




}
.Oname {

	display: inline;
}

.window {
  resize: both;
  overflow: hidden;
  position: fixed;
  border: 2px solid darkgrey;
  margin: 0px;
  background-color: #DDD;
  cursor: default;
  min-width: 20px;
  min-height: 20px;
  padding: 0px;
  z-index: 1000;
}

.windowbar {
  font-family: sans-serif;
  user-select: none;
  width: calc(100% - 4px);
  padding: 2px;
  height: 16px;
  line-height: 16px;
  color: black;
  background-color: lightblue;
  background-image: url("bar.png");
  font-size: 12px;
  border-bottom: 2px solid darkgrey;
  overflow: hidden;
}

.windowicon, .windowtitle, .windowclose {
  display: inline-block;
}

.windowicon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 2px;
}

.windowtitle {
  position: relative;
}

.windowicon+.windowtitle {
  left: 18px;
}

.windowclose {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  background-color: tomato;
  border: 1px outset lightgray;
}

.windowclose:active {
  border-style: inset;
}

.windowcontent {
  width: 100%;
  height: calc(100% - 22px);
  overflow: auto;
}
  #OSnav{
	  position: fixed;
	  bottom: 0;
	  left: 0;
	  width: 100%;
	  height: 35px;
	  background-color: rgb(56, 0, 119);
	  color: white;
	  text-align: center;
	  z-index: 99999999;
  }
  #OSicon{
	  position: absolute;
	  top: 0;
	  left: 0;
  
  }
  #OSiconIMG{
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 35px;
	  height: 35px;
  }
  .OSdropbtn {
background-color: #3498DB;
color: white;
padding: 16px;
font-size: 16px;
border: none;
}

.OSdropup {


}

.OSdropup-content {
display: none;
position: fixed;
background-color: #f1f1f1;
min-width: 160px;
bottom: 3%;
z-index: 1;
}

.OSdropup-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.OSdropup-content a:hover {background-color: #ccc}

.OSdropup:hover .OSdropup-content {
display: block;
}

.OSdropup:hover .OSdropbtn {
background-color: #2980B9;
}
</style>


</div>
  </body>






<script>

// creation args: title (string), icon(url string)
// open args: width, height, left, top (all are numbers)
var windows = 0;
function jswindow(args) {
  // specify options here
  var borderThickness = 2;
  var defaultWidth = 250;
  var defaultHeight = 150;
  var topClip = 0;
  var bottomClip = 24;
  var leftClip = 48;
  var rightClip = 24;

  // vWindow instead of this for event.target workaround
  var vWindow = this;
  
  function randInt(min, max) { return Math.floor(Math.random() * (max - min + 1)) + min; }
  function clipRight() { return parseInt(vWindow.outerWindow.style.width) + parseInt(vWindow.outerWindow.style.left) + (borderThickness * 2) > window.innerWidth; }
  function clipBottom() { return parseInt(vWindow.outerWindow.style.height) + parseInt(vWindow.outerWindow.style.top) + (borderThickness * 2) > window.innerHeight; }
  
  this.setTitle = function(text) {
	  vWindow.outerWindow.bar.wname.textContent = text;
  }
  
  this.setIcon = function(url) {
	  vWindow.outerWindow.bar.icon.style.backgroundImage = 'url("' + url + '")';
  }
  
  // open window with optional width and height (will otherwise be default) and distances from the top left (otherwise random)
  this.open = function(args) {
	  vWindow.outerWindow.style.width = (args && args.width ? args.width + "px" : defaultWidth + "px");
	  vWindow.outerWindow.style.height = (args && args.height ? args.height + "px" : defaultHeight + "px");
	  vWindow.outerWindow.style.left = (args && args.left ? args.left + "px" : randInt(0, window.innerWidth - parseInt(vWindow.outerWindow.style.width)) + "px");
	  vWindow.outerWindow.style.top = (args && args.top ? args.top + "px" : randInt(0, window.innerHeight - parseInt(vWindow.outerWindow.style.height)) + "px");
	  vWindow.outerWindow.style.maxWidth = (window.innerWidth - (parseInt(vWindow.outerWindow.style.left) + (borderThickness * 2))) + "px";
	  vWindow.outerWindow.style.maxHeight = (window.innerHeight - (parseInt(vWindow.outerWindow.style.top) + (borderThickness * 2))) + "px";
	  document.body.appendChild(vWindow.outerWindow);
  }
  
  this.onclose = function() {}
  
  this.close = function() {
	  vWindow.outerWindow.remove();
	  vWindow.onclose();
  }
  
  // start constructor creation
  // make nodes
  windows++
  var ThisWin = windows;
  vWindow.outerWindow = document.createElement("div");
  vWindow.outerWindow.classList.add("window");
  vWindow.outerWindow.id = "window"+windows
  var WID = document.createElement("div")
  WID.id = windows;
  vWindow.outerWindow.appendChild(WID)

  vWindow.outerWindow.bar = document.createElement("div");
  vWindow.outerWindow.bar.classList.add("windowbar");
  
  if (args && args.icon) {
	  vWindow.outerWindow.bar.icon = document.createElement("span");
	  vWindow.outerWindow.bar.icon.classList.add("windowicon");
	  vWindow.outerWindow.bar.icon.style.backgroundImage = 'url("' + args.icon + '")';
	  vWindow.outerWindow.bar.appendChild(vWindow.outerWindow.bar.icon);
  }
  
  vWindow.outerWindow.bar.wname = document.createElement("span");
  vWindow.outerWindow.bar.wname.appendChild(document.createTextNode(args && args.title ? args.title : ""));
  vWindow.outerWindow.bar.wname.classList.add("windowtitle");
  
  vWindow.outerWindow.bar.close = document.createElement("span");
  vWindow.outerWindow.bar.close.appendChild(document.createTextNode(String.fromCharCode(10006)));
  vWindow.outerWindow.bar.close.classList.add("windowclose");
  vWindow.outerWindow.bar.close.title = "Close";

  if (args.WinType == "AppWin") {
	  vWindow.outerWindow.bar.close.onclick = function() { document.getElementById("Win"+ThisWin).remove(); AppWinOpen = false; vWindow.close(); windows--; console.log(windows); }
  }else {
  vWindow.outerWindow.bar.close.onclick = function() { document.getElementById("Win"+ThisWin).remove(); vWindow.close(); windows--; console.log(windows); }
  }
  vWindow.innerWindow = document.createElement("div");
  vWindow.innerWindow.classList.add("windowcontent");
  
  // icon already appended if specified
  vWindow.outerWindow.bar.appendChild(vWindow.outerWindow.bar.wname);
  vWindow.outerWindow.bar.appendChild(vWindow.outerWindow.bar.close);
  vWindow.outerWindow.appendChild(vWindow.outerWindow.bar);
  vWindow.outerWindow.appendChild(vWindow.innerWindow);
  
  // move window to front
  vWindow.outerWindow.addEventListener("mousedown", function(e) {
	  var allwindows = Array.from(document.querySelectorAll("div.window"));
	  if ((allwindows.indexOf(vWindow.outerWindow) != (allwindows.length - 1)) && e.target != vWindow.outerWindow.bar.close) document.body.appendChild(vWindow.outerWindow);
  }, false);
  
  // move window around
  var oldcursorX, oldcursorY;
  vWindow.outerWindow.bar.addEventListener("mousedown", function(e) {
	  if ((e.target != vWindow.outerWindow.bar.close) && (e.button == 0)) {
		  e.preventDefault();
		  oldcursorX = e.clientX;
		  oldcursorY = e.clientY;
		  document.addEventListener("mousemove", windowDrag, false);
		  document.addEventListener("mouseup", windowDragEnd, false);
	  }
  }, false);
  
  function windowDrag(e) {
	  e.preventDefault();
	  vWindow.outerWindow.style.left = (vWindow.outerWindow.offsetLeft - (oldcursorX - e.clientX)) + "px";
	  oldcursorX = e.clientX;
	  vWindow.outerWindow.style.top = (vWindow.outerWindow.offsetTop - (oldcursorY - e.clientY)) + "px";
	  oldcursorY = e.clientY;
  }
  
  // pop window back into view area, and set max dimensions if it's not clipping into bottom right
  function windowDragEnd() {
	  document.removeEventListener("mousemove", windowDrag);
	  document.removeEventListener("mouseup", windowDragEnd);
	  vWindow.outerWindow.style.left = Math.min(Math.max(vWindow.outerWindow.offsetLeft, 0 - parseInt(vWindow.outerWindow.style.width) + leftClip), window.innerWidth - rightClip) + "px";
	  vWindow.outerWindow.style.top = Math.min(Math.max(vWindow.outerWindow.offsetTop, topClip), window.innerHeight - bottomClip) + "px";
	  if (!clipRight()) vWindow.outerWindow.style.maxWidth = (window.innerWidth - (parseInt(vWindow.outerWindow.style.left) + (borderThickness * 2))) + "px";
	  if (!clipBottom()) vWindow.outerWindow.style.maxHeight = (window.innerHeight - (parseInt(vWindow.outerWindow.style.top) + (borderThickness * 2))) + "px";
  }
  // end constructor creation
}


var Apps = ['"https://vscode.dev/"','"https://oa-bookmarkos.netlify.app/browser.html"','"https://tender-einstein-de536a.netlify.app/google.html"','"https://tender-einstein-de536a.netlify.app/comments.html"','"https://jseditor.io/"'];
var AppNames = ['VSCODE','simple url input','google','OASIS comments','JS editor']
var AppWinOpen = false;
var OpenApps = document.getElementById("OpenApps")

function OpenWindow(code,name,Style,type) {
  var eg = new jswindow({title: name, icon: "",WinType: type, winID: windows});
			  eg.innerWindow.innerHTML = code;
			  eg.innerWindow.style = Style;
			  eg.open({width: 500, height: 300});
			  console.log(windows)
			  var Open = document.createElement("h3")
			  var winID = windows;
		//	  var WinScript = "if (document.getElementById('windows'+"+winID+").style.display == 'block') {      document.getElementById('windows'+"+winID+").style.display == 'none'                         }else {  document.getElementById('windows'+"+winID+").style.display == 'block' } "
			  Open.innerHTML = "<button onclick=''>Win" + windows + "</button>  ";
			  Open.id = "Win"+windows+""
			  Open.className = "Oname"
			  OpenApps.appendChild(Open)

}



function OpenApp(src) {
  OpenWindow("<iframe style='height: 100%; width: 100%; object-fit: contain' src='"+src+"'></iframe>",src)
}

function AppWin() {
  if (AppWinOpen) {return};
  AppWinOpen = true;
  OpenWindow(`
  
  <h1>Apps</h1>
  <br>
<div id="APPS">

  </div>
  
  `,'Apps','text-align: center;','AppWin');

  for (let i = 0; i < Apps.length; i++) {
	  var Btn = "<button onclick='OpenApp("+Apps[i]+")'>"+AppNames[i]+"</button>"
	  document.getElementById("APPS").innerHTML += Btn+"<br><br>";

}

}



function BookmarkWin() {

  OpenWindow(`
  
  <h1>BOOKMARKLETS</h1>
  <br>
<div id="BOOKMARKLETS">
<a href="javascript:(function()%7Bjavascript%3A(function()%7Bfunction%20grouped(e%2C%20n)%7B%20if(e%20!%3D%20null)%7B%20return%20e%5Bn%5D.toString()%3B%20%7Delse%7B%20return%20''%3B%20%7D%20%7D%20function%20dragElement(elmnt)%20%7B%20var%20pos1%20%3D%200%2C%20pos2%20%3D%200%2C%20pos3%20%3D%200%2C%20pos4%20%3D%200%3B%20if%20(document.getElementById(elmnt.id%20%2B%20%22header%22))%20%7B%20document.getElementById(elmnt.id%20%2B%20%22header%22).onmousedown%20%3D%20dragMouseDown%3B%20%7D%20else%20%7B%20elmnt.onmousedown%20%3D%20dragMouseDown%3B%20%7D%20function%20dragMouseDown(e)%20%7B%20e%20%3D%20e%20%7C%7C%20window.event%3B%20pos3%20%3D%20e.clientX%3B%20pos4%20%3D%20e.clientY%3B%20document.onmouseup%20%3D%20closeDragElement%3B%20document.onmousemove%20%3D%20elementDrag%3B%20%7D%20function%20elementDrag(e)%20%7B%20e%20%3D%20e%20%7C%7C%20window.event%3B%20pos1%20%3D%20pos3%20-%20e.clientX%3B%20pos2%20%3D%20pos4%20-%20e.clientY%3B%20pos3%20%3D%20e.clientX%3B%20pos4%20%3D%20e.clientY%3B%20elmnt.style.top%20%3D%20(elmnt.offsetTop%20-%20pos2)%20%2B%20%22px%22%3B%20elmnt.style.left%20%3D%20(elmnt.offsetLeft%20-%20pos1)%20%2B%20%22px%22%3B%20elmnt.style.opacity%20%3D%20%220.85%22%3B%20elmnt.style.background%20%3D%20%22DarkSlateGrey%22%3B%20elmnt.style.transition%20%3D%20%22opacity%201300ms%22%20%7D%20function%20closeDragElement()%20%7B%20document.onmouseup%20%3D%20null%3B%20document.onmousemove%20%3D%20null%3B%20elmnt.style.opacity%20%3D%20%221%22%3B%20elmnt.style.background%20%3D%20%22DarkSlateGrey%22%3B%20%7D%20%7D%20function%20close()%20%7B%20document.body.removeChild(document.getElementById(%22pop_container%22))%3B%20%7D%20var%20cDiv%20%3D%20document.createElement(%22div%22)%3B%20cDiv.setAttribute(%22id%22%2C%20%22pop_container%22)%3B%20document.body.appendChild(cDiv)%3B%20cDiv.style.display%20%3D%20%22inline-block%22%3B%20cDiv.style.position%20%3D%20%22fixed%22%3B%20cDiv.style.top%20%3D%20%22300px%22%3B%20cDiv.style.left%20%3D%20%2250%25%22%3B%20cDiv.style.width%20%3D%20%2235%25%22%3B%20cDiv.style.height%20%3D%20%2243%25%22%3B%20cDiv.style.border%20%3D%20%221px%20solid%20DarkSlateGrey%20%22%3B%20cDiv.style.background%20%3D%20%22DarkSlateGrey%22%3B%20cDiv.style.borderRadius%20%3D%20%221em%22%3B%20cDiv.style.padding%20%3D%20%223px%22%3B%20cDiv.style.zIndex%20%3D%20%2210000%22%3B%20cDiv.style.fontFamily%20%3D%20'%22Courier%20New%22%2C%20monospace'%3B%20var%20clsBtn%20%3D%20document.createElement(%22button%22)%3B%20document.getElementById(%22pop_container%22).appendChild(clsBtn)%3B%20clsBtn.setAttribute(%22id%22%2C%20%22btn_close%22)%3B%20document.getElementById(%22btn_close%22).innerText%20%3D%20%22%2B%22%3B%20clsBtn.style.position%20%3D%20%22absolute%22%3B%20clsBtn.style.background%20%3D%20%22transparent%22%3B%20clsBtn.style.height%20%3D%20%220px%22%3B%20clsBtn.style.width%20%3D%20%220px%22%3B%20clsBtn.style.display%20%3D%20%22inline-block%22%3B%20clsBtn.style.transform%20%3D%20%22scale(2.5%2C%202.5)%20translate(5px%2C%20-5px)%20rotate(45deg)%22%3B%20clsBtn.style.borderRadius%20%3D%20%221em%22%3B%20clsBtn.style.padding%20%3D%20%220px%22%3B%20clsBtn.style.boxShadow%20%3D%20%220px%22%3B%20clsBtn.style.border%20%3D%20%220px%22%3B%20clsBtn.style.cursor%20%3D%20%22pointer%22%3B%20clsBtn.style.userSelect%20%3D%20%22none%22%3B%20clsBtn.style.fontFamily%20%3D%20'%22Courier%20New%22%2C%20monospace'%3B%20clsBtn.style.fontWeight%20%3D%20%22bold%22%3B%20clsBtn.style.color%20%3D%20%22white%22%3B%20var%20textbox_1%20%3D%20document.createElement(%22TEXTAREA%22)%3B%20textbox_1.setAttribute(%22id%22%2C%20%22textbox_code%22)%3B%20document.getElementById(%22pop_container%22).appendChild(textbox_1)%3B%20textbox_1.style.width%20%3D%20%2299%25%22%3B%20textbox_1.style.height%20%3D%20%2283%25%22%3B%20textbox_1.style.padding%20%3D%20%226px%22%3B%20textbox_1.style.border%20%3D%20%221px%20solid%20DarkSlateGrey%22%3B%20textbox_1.style.background%20%3D%20%22FloralWhite%22%3B%20textbox_1.style.borderRadius%20%3D%20%221em%22%3B%20textbox_1.style.display%20%3D%20%22block%22%3B%20textbox_1.style.fontSize%20%3D%20%221.2em%22%3B%20textbox_1.style.userSelect%20%3D%20%22none%22%3B%20textbox_1.style.transform%20%3D%20%22translate(0px%2C%205%25)%22%3B%20textbox_1.style.fontFamily%20%3D%20'%22Courier%20New%22%2C%20monospace'%3B%20var%20evalBtn%20%3D%20document.createElement(%22button%22)%3B%20document.getElementById(%22pop_container%22).appendChild(evalBtn)%3B%20evalBtn.setAttribute(%22id%22%2C%20%22btn_box%22)%3B%20document.getElementById(%22btn_box%22).innerText%20%3D%20%22runTheCode%22%3B%20evalBtn.style.background%20%3D%20%22DarkCyan%22%3B%20evalBtn.style.border%20%3D%20%221px%20solid%20DarkSlateGrey%22%3B%20evalBtn.style.width%20%3D%20%22100%25%22%3B%20evalBtn.style.height%20%3D%20%2233px%22%3B%20evalBtn.style.borderRadius%20%3D%20%221em%22%3B%20evalBtn.style.cursor%20%3D%20%22pointer%22%3B%20evalBtn.style.color%20%3D%20%22white%22%3B%20evalBtn.style.transform%20%3D%20%22translate(0px%2C%2055%25)%22%3B%20dragElement(document.getElementById((%22pop_container%22)))%3B%20document.getElementById(%22btn_box%22).addEventListener(%22click%22%2C%20execute)%3B%20document.getElementById(%22btn_close%22).addEventListener(%22click%22%2C%20close)%3B%20textbox_1.addEventListener('keyup'%2C%20tabIs)%3B%20function%20tabIs()%7B%20if(%2F%5C%7B%5C%7D%2F.exec(this.value)%20%3D%3D%20%22%7B%7D%22)%7B%20this.value%20%3D%20this.value.replace(%2F%5C%7B%5C%7D%2F%2C%20%22%7B%5Cn%20%5Cn%7D%22)%3B%20this.selectionStart%20%3D%20this.selectionStart-2%3B%20this.selectionEnd%20%3D%20this.selectionEnd-2%3B%20this.focus()%3B%20%7D%20%7D%20function%20execute()%7B%20var%20code%20%3D%20document.getElementById(%22textbox_code%22).value%3B%20eval(code)%3B%20%7D%7D)()%7D)()%3B">JS console</a>
  </div>
  
  `,'Bookmarks','text-align: center;','Win');



}


</script>

